.modal-content_detail {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/Marmol2.jpg");

  @media (max-width: 767px) {
    /* Estilos para dispositivos móviles */
    background-size: cover;
    padding: 20px;
  }
}
.close-icon-container {
  position: absolute;
  top: 20px;
  right: 75px;
  color: rgb(255, 255, 255);

  @media (max-width: 767px) {
    /* Estilos para dispositivos móviles */
    top: 10px;
    right: 10px;
  }

  @media (min-width: 768px) {
    /* Ajusta el ícono en dispositivos más grandes */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
  }
}


.large-image_detail_container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 800px;

  @media (max-width: 767px) {
    /* Estilos para dispositivos móviles */
    width: 100%;
    max-width: none;
    height: auto;
    max-height: none;
  }

  .large_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
