
.main-bar{
  width: 100%;
  display: flex;
  height: 100px;
  margin: 20px;
  margin-block-end: 5px;
}

 .row.justify-content-end > div {
    margin-top: 15px;
    margin-block-end: 15px;
  margin-right: -60px; /* Ajusta el valor según tus necesidades */
  
 
  }

button.button_barra {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: rgb(96, 95, 95);
    transition: font-weight 0.2s ease-in-out, color 0.2s ease-in-out;
    font-weight: normal;
  }
  
  button.button_barra:hover {
    font-weight: bold;
    color: black;
  }
  