.contenedor-video {
    flex: 1  50%;
    height: 500px; /* Ajusta la altura según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Marmol3.jpg") ;

  }