h3 {
  font-size: 15px; /* Tamaño de fuente según tus preferencias */
  margin: 20px auto; /* Ajusta los márgenes superior e inferior para centrar */
  padding: 10px 20px; /* Espaciado interior */
  color: #333; /* Color del texto */
  background-color: #f2f2f2; /* Color de fondo del h3 */
  border-radius: 4px; /* Borde redondeado */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  animation: fadeInScale 1s ease; /* Animación de aparición con escala */

  /* Transiciones para hover (opcional, puedes omitir si no lo deseas) */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Animación de aparición con escala */
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Estilo para hover (opcional, puedes omitir si no lo deseas) */
h3:hover {
  background-color: #a90808; /* Cambia el color de fondo al pasar el cursor sobre el título */
  color: #c9c7c7; /* Cambia el color del texto al pasar el cursor sobre el título */
}