@import "~bootstrap/dist/css/bootstrap.min.css";

.main-footer {
  height: 75px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #B7B7B7;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.icon-text {
  margin-top: -10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-text p {
  vertical-align: middle;
  margin-top: 15px;
  font-size: 14px;
}

.logo {
  margin-left: auto;
}

.logo img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}
