@import "~@fortawesome/fontawesome-svg-core/styles.css";

.contacto_container {
  display: flex;
  flex-direction: row;
  background-image: url(../../assets/Marmol.jpg);
  height: 700px;

  @media screen and (max-width: 765px) {
    flex-direction: column;
    width: 100%;
    height: auto; /* Ajusta la altura según el contenido */
  }
}

.video_container {
  display: flex;
  background-color: rgb(184, 183, 183);
  text-align: center;
  width: 50%;
  position: relative;
 
  
  @media screen and (max-width: 765px) {
    width: 100%;
  }

  /* Ajustar el tamaño de los videos */
  .ratio-16x9 {
  
    width: 100%;
    height: 307px;
    padding-bottom: 12.25%; /* Aspect ratio 16:9 */
    position: relative;
    margin-block-end: 40px;
    border-radius: 20px;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

.contact_info_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-block-end: 10px;
  justify-content: space-between; // Distribuye los elementos uniformemente
  height: 100%; // Asegura que el contenedor ocupe toda la altura disponible

  @media screen and (max-width: 765px) {
    padding: 70px;
    margin-top: 400px; // Agrega margen superior para separación
    margin-bottom: 20px; // Agrega margen inferior para separación
  }
}


.contact_point {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .contact_icon {
    margin-right: 10px;
    width: 20px;
  }

  .contact_title {
    font-weight: bold;
  }

  .contact_description {
    margin: 0;
  }
}
