@import "~@fortawesome/fontawesome-svg-core/styles.css";

.contacto_container {
  background-image: url("../../assets/Marmol.jpg");
  background-size: cover;
  height: 700px;

}

.icon {
  margin-right: 5px;
  width: 20px;
}
