.colaboradores-container {
  display: flex;
  height: 100vh;
}

.colaboradores-text {
  width: 100%;
  background-color: #fbfbfb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colaboradores-text h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid #000;
  padding-bottom: 15px;
}

.colaboradores-text p {
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
}

.colaboradores-images-container {
  width: 100%;
  overflow-y: scroll;
  scrollbar-color: rgb(0, 0, 0);
  opacity: 1;
  padding: 20px;
  background-image: url("../../assets/Marmol.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}

.container-images > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.colaboradores-images-container .small-image {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.colaboradores-images-container p {
  text-align: center;
  font-size: 20px;
  margin: 20px;
  margin-left: 0;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
}

.colaborador_detail {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 765px) {
  .container-images {
    padding: 120px;
  }

  .colaboradores-text {
    width: 65%;
  }

  .colaboradores-images-container {
    width: 35%;
  }
}

@media screen and (max-width: 764px) {
  .colaboradores-container {
    flex-direction: column;
  }

  .colaboradores-text {
    width: 100%;
  }

  .colaboradores-images-container {
    width: 100%;
  }
}
