.colaboradores-container {
  display: flex;
  height: 100vh;
}

.colaboradores-text {
  width: 65%;
  background-color: #fbfbfb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colaboradores-text h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid #000;
  padding-bottom: 15px;
}

.colaboradores-text p {
  font-size: 16px;
  line-height: 1.5;
  padding: 65px;
}

.colaboradores-images-container {

  width: 35%;
  overflow-y: scroll;
  scrollbar-color: rgb(0, 0, 0);
  opacity: 1;
  padding: 20px;
    background-image: 
    url("../../assets/Marmol.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.container-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding: 120px;
  
}

.container-images > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.colaboradores-images-container .small-image {
  width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente según el ancho */
  max-width: 300px; /* Establece un ancho máximo para evitar que la imagen se agrande demasiado */
}

.colaboradores-images-container p {
  text-align: center;
  font-size: 20px;
  margin: 20px;
  margin-left: 45px;
}

@media screen and (max-width: 720px) {
  .colaboradores-images-container .small-image {
    
  }
  .colaboradores-text h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid #000;
    padding-bottom: 15px;
  }


}