*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  position: relative;

}
.progress-bar{
  height: 6px; /* Altura deseada de la barra de progreso */
  background-color: rgb(241, 40, 0); /* Color de fondo deseado */
}