*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  position: relative;




  &::-webkit-scrollbar {
    width: 3px; /* Ancho del scroll */
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Color de la barra del scroll */
  }
  
  &::-webkit-scrollbar-track {
    background-color: transparent; /* Color del fondo del scroll */
  }


}
