*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  position: relative;
  font-size: 15px;





  &::-webkit-scrollbar {
    width: 3px; /* Ancho del scroll */
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Color de la barra del scroll */
  }
  
  &::-webkit-scrollbar-track {
    background-color: transparent; /* Color del fondo del scroll */
  }


}






.modal-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-enter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
}

.modal-footer {
  position: relative;
  z-index: 1;
  background: rgb(100, 100, 100);
}

@media (max-width: 767px) {
  .modal-logo {
    width: 60px;
  }
}

@media (max-width: 720px) {
  .modal-container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../src/assets/Marmol.jpg");
  }
}